@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.filter-container {
  display: flex;
  align-items: center; /* Alinear verticalmente */
}

.filter {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-size: 30px;
  color: #b68964;
  margin-right: 10px; /* Espacio entre el label y el select */
  margin-left: 250px;
}

select {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}


