@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.Filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label{
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-size: 30px;
  color: #b68964;
}
select {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #743d38;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
